<% @title = "Home" %>

<%= partial :"../shared/header" %>

<div class="category">
  <%= partial :"../shared/search" %>
  <%= partial :"../shared/categories" %>
  <h3>The Wall Street Journal</h3>  
</div>

<div id="whats_news" class="left">
  <div id="whats_news_inset">
    <div id="whats_news_head">
      What&apos;s News&mdash;
    </div>
  
    <ul id="whats_news_articles">
      <% whats_news = Category.first(:name => "What's News") %>

      <% whats_news.top_stories(22).each_with_index do |article, index| %>        
        <li>
          <% if index == 0 %>
            <%= whats_news_print(article, true) %>
          <% else %>
            <%= whats_news_print(article) %>          
          <% end %>
        </li>
      <% end %>
    </ul>
    
    <div id="more_sections_head">
      More Coverage&mdash;
    </div>
    
    <ul id="more_sections">
      <li>
        <% opinion = Category.first(:name => "Opinion") %>
        
        <div class="section_head bold">
          <a href="/categories/<%= opinion.id %>/news"><%= opinion.name %></a>
        </div>        

        <% opinion.top_stories(10).each do |article| %>
          <li><%= whats_news_print(article) %></li>
        <% end %>      
      <li>
        <% money_investing = Category.first(:name => "Money & Investing") %>
        
        <div class="section_head bold">
          <a href="/categories/<%= money_investing.id %>/news"><%= money_investing.name %></a>          
        </div>        

        <% money_investing.top_stories(10).each do |article| %>
          <li><%= whats_news_print(article) %></li>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div id="center_rail" class="left">
  
  <div id="picture" class="bottom_border">
    <% whats_news = Category.first(:name => "What's News") %>
    <% article = whats_news.first_article_with_image   %>
    <div class="title">
      <a href="/news/<%= article.id %>"><%= article.title %></a>
    </div>
    <img src="<%= article.image.fullsize %>">
    <div class="caption"><%= article.image.caption %></div>
  </div>
  
  <div id="top_story" class="article bottom_border">
    <% article = Category.first(:name => "Today's Paper").top_story %>    
    
    <h1><%= article.title %></h1>
        
    <% unless article.subtitle.nil? || article.subtitle.empty? %>
      <h2><%= article.subtitle %></h2>
    <% end %>

    <div id="fulltext" class="three_column">
      <% unless article.subtitle.nil? || article.author.empty? %>
        <div class="byline"><%= article.author %></div> 
      <% end %>
      
      <%= article.short_version %>
      <p class="continue">
        <a href="/news/<%= article.id %>">Continue reading</a>
    </div>
  </div>
  
  <div id="top_story" class="article bottom_border">
    <% article = Category.first(:name => "Today's Paper").top_stories(2)[1] %>    
    
    <h1><%= article.title %></h1>

    <% unless article.subtitle.nil? || article.subtitle.empty? %>
      <h2><%= article.subtitle %></h2>
    <% end %>
    
    <div id="fulltext" class="three_column">
      <% unless article.subtitle.nil? || article.author.empty? %>
        <div class="byline"><%= article.author %></div> 
      <% end %>
      
      <%= article.short_version %>
      <p class="continue"><a href="/news/<%= article.id %>">Continue reading</a></p>
    </div>
  </div>
  
  <div id="top_story" class="article bottom_border">
    <% article = Category.first(:name => "Today's Paper").top_stories(3)[2] %>    
    
    <h1><%= article.title %></h1>

    <% unless article.subtitle.nil? || article.subtitle.empty? %>
      <h2><%= article.subtitle %></h2>
    <% end %>
    
    <div id="fulltext" class="three_column">
      <% unless article.subtitle.nil? || article.author.empty? %>
        <div class="byline"><%= article.author %></div> 
      <% end %>
      
      <%= article.short_version %>
      <p class="continue"><a href="/news/<%= article.id %>">Continue reading</a></p>
    </div>
  </div>
</div>

<div id="right_rail" class="right">
  <div id="top_story" class="article bottom_border">
    <% article = Category.first(:name => "Today's Paper").top_stories(4)[3] %>    
    
    <h1><%= article.title %></h1>
    
    <div id="fulltext" class="one_column">
      <% unless article.subtitle.nil? || article.author.empty? %>
        <div class="byline"><%= article.author %></div> 
      <% end %>
      
      <%= article.short_version(3675) %>
      <p class="continue"><a href="/news/<%= article.id %>">Continue reading</a></p>      
    </div>
  </div>
</div>

<br clear="all"/>

<script type="text/javascript" charset="utf-8">
  
  $("#newspaper_name").hide();
  
  // Add data to let the hover know which index they have
	for(var i = 0; i < $("ul li h2 a").size(); i++) {
		$("ul li h2 a").eq(i).data("number", i);
	}
	
	// Simulote the "hover" effect with the mouse
	$("ul li h2 a").hover(
		function () {
			currentSelection = $(this).data("number");
			setSelected(currentSelection);
		}, function() {
			$("ul li h2 a").removeClass("itemhover");
			currentUrl = '';
		}
	);
	
	
  function navigate(direction) {
  	// Check if any of the menu items is selected
  	if($("ul .itemhover").size() == 0) {
  		currentSelection = -1;
  	}

  	if(direction == 'up' && currentSelection != -1) {
  		if(currentSelection != 0) {
  			currentSelection--;
  		}
  	} else if (direction == 'down') {
  		if(currentSelection != $("ul li").size() -1) {
  			currentSelection++;
  		}
  	}
  	setSelected(currentSelection);
  }

  function setSelected(menuitem) {
  	$("ul li").removeClass("itemhover");
  	$("ul li").eq(menuitem).addClass("itemhover");
  	currentUrl = $("ul li h2 a").eq(menuitem).attr("href");
  }
	
</script>