<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>The Wall Street Journal | <%= @title || Time.now.strftime("%A %B %d, %Y") %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/colorbox.css" type="text/css" media="screen" charset="utf-8" />    
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/colorbox.js"></script>    
    <script type="text/javascript" src="/javascripts/application.js"></script>    
  </head>
  <body>
    <%#= message[:notice] %>
    
    <%= catch_content :for_layout %>
    
    <script type="text/javascript" charset="utf-8">
      var menuOn = true;
      var searchOn = false;            
      $(document).keydown(function(e){
          switch (e.keyCode) { 
            case 9: {
              // tab
              if (menuOn) {window.location = "/today"; return false;}
              break;
            }
            case 13: {
              if (!menuOn && !searchOn) {$("#categories_form").submit(); return false;}              
              break;
            }
            case 32: {
              // space
              if (menuOn) {
                levelUp();
                return false;
              }
              break;
            }
            <% unless @prev_article.nil? %>
              case 37: {                        
                getArticle(<%= @prev_article.id %>, "<%= params[:query] %>");         
                break;
              }               
            <% end %>                
            <% unless @next_article.nil? %>            
              case 39: {                        
                getArticle(<%= @next_article.id %>, "<%= params[:query] %>");               
                break;
              }
            <% end %>
            case 27: {
              // esc
              menuOn = true;          
              searchOn = true;                                          
              $("#search").hide();
              $("#categories").hide();       
              $(document).focus();                         
              break;
            }
            case 71: {
              // g
              if (menuOn) {
                menuOn = false;
                $('#categories').show();
                $('#category_id').focus();  
              }                             
              break;
            }
            case 78: {
              // n
              if (menuOn) {navigate('down');}               
              break;
            }
            case 79: {
              // o
              if (menuOn) {
                if(currentUrl != '') {
                	window.location = currentUrl;
        				}
        				break;
        				return false;
              }               
              break;
            }
            case 80: {
              // p
              if (menuOn) {navigate('up');}               
              break;
            }
            case 82: {
              // r
              if (menuOn) {location.reload();}               
              break;
            }
            case 84: {
              // t
              if (menuOn) {openTab("");}               
              break;
            }            
            case 87: {
              // w
              if (menuOn) {self.close();};              
              break;
            }
            case 191: {
              // /
              menuOn = false;  
              searchOn = true;                          
              $('#search').show();     
              try { 
                 $('#query').focus(); 
              } catch(e) { 
                alert("can't focus because of\n\n" + e) 
              }         
                                                         
              return false;                       
              break;
            }
            case 192: {
              // `
              $('#menu').show();
                  $.fn.colorbox({'transition':'none', 'href':'#menu', 'open':true, 'inline':true, 'width':'600px', 'height':'600px'});
                  $().bind('cbox_closed', function(){
                          $('#menu').hide();
                  });
              break;
            }
          } 
      });
      
      // Javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try{
      var pageTracker = _gat._getTracker("UA-1775187-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>